main {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container {
  flex-grow: 1;
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.form {
  position: relative;
  top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

#message-form-container {
  flex-grow: 1;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-form {
  flex-grow: 1;
  max-width: 1000px;
  position: static;
}

.form-items {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-item > a {
  width: 100%;
}

.form-button {
  min-width: 100%;
  max-width: 100%;
  margin-top: 10px;
}

.main-content {
  flex-grow: 1;
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  background-color: var(--main-content-background-color);
  border-left: 1px solid var(--header-content-border-color);
  border-right: 1px solid var(--header-content-border-color);
}

.subforums-title,
.subforum-title,
.thread-title {
  padding: 10px;
}

.subforum-items-container,
.thread-items-container,
.message-items-container,
.search-result-items-container {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--header-content-border-color);
}

.message-items-container,
.search-result-items-container {
  border-bottom: none;
  margin-bottom: 10px;
  background-color: var(--message-items-container-background-color);
}

.subforum-items,
.thread-items {
  min-height: 100px;
  flex-grow: 1;
  display: flex;
  justify-content: start;
  align-items: center;
}

.subforum-item,
.thread-item {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

#subforum-icon-container,
#thread-icon-container {
  min-width: 100px;
  max-width: 100px;
}

.subforum-icon,
.thread-icon {
  width: 60px;
  color: var(--text-color);
  fill: currentColor;
}

#subforum-name-and-description,
#thread-title-and-description {
  align-items: start;
  flex-grow: 1;
  max-width: 800px;
}

.subforum-name {
  margin-bottom: 5px;
}

.subforum-description {
  margin-top: 0;
  font-weight: 400;
}

#subforum-statistics,
#thread-statistics {
  max-width: 100px;
}

.subforum-descriptive-name,
.thread-descriptive-name {
  margin-bottom: 5px;
  font-weight: bold;
}

#last-message {
  max-width: 200px;
}

#update-subforum,
#update-thread,
#delete-subforum,
#delete-thread {
  max-width: 50px;
}

.delete-subforum-button,
.delete-thread-button {
  all: unset;
}

.delete-subforum-button:hover,
.delete-thread-button:hover {
  all: unset;
  cursor: pointer;
}

.delete-subforum-icon,
.update-subforum-icon,
.delete-thread-icon,
.update-thread-icon {
  width: 30px;
  color: var(--text-color);
  fill: currentColor;
}

.new-subforum-button-container,
.new-thread-button-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thread-icon {
  width: 45px;
  color: var(--text-color);
  fill: currentColor;
}

#button-item {
  align-items: center;
}

#button-item > button {
  min-width: 200px;
}

.secret-subforum-message {
  margin-top: 10px;
  padding-left: 20px;
}

#profile-image-container {
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--profile-image-container-background-color);
}

.profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--profile-image-background-color);
}

.message-container,
.search-result-container {
  width: 100%;
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.search-result-container {
  min-height: auto;
}

.message-top-items,
.search-result-top-items,
.search-result-bottom-items {
  flex-grow: 1;
  max-height: 50px;
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 1px solid var(--header-content-border-color);
}

.search-result-top-items,
.search-result-bottom-items {
  border-bottom: none;
}

.search-result-bottom-items {
  padding-bottom: 5px;
}

.message-top-items > li {
  flex-grow: 1;
  max-width: 50px;
}

.message-top-items > li:first-child {
  max-width: 100%;
}

.message-content,
.search-result-content {
  flex-grow: 1;
  margin-top: 10px;
  height: 100%;
}

.search-result-content {
  margin-bottom: 10px;
}

.message-update-info {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

.search-result-bottom-items > li,
.search-result-bottom-items > li {
  margin-right: 5px;
}
