@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text-color: #2563eb;
  --header-text-color: #bfdbfe;
  --footer-text-color: #bfdbfe;
  --button-text-color: #bfdbfe;
  --text-shadow: 1px 1px 1px #1e40af;

  --body-background: linear-gradient(
    to bottom right,
    #dbeafe,
    #93c5fd,
    #60a5fa
  );

  --wrapper-background-color: #bfdbfe;

  --header-background: linear-gradient(to right, #60a5fa, #1d4ed8);
  --header-content-border-color: #1e3a8a;

  --nav-menu-background-color: #3b82f6;
  --search-box-background-color: #bfdbfe;
  --search-icon-color: #3b82f6;
  --search-icon-hover-color: #1e40af;

  --main-content-background-color: #eff6ff;

  --footer-background: linear-gradient(to right, #60a5fa, #1d4ed8);

  --footer-title-color: #bfdbfe;

  --button-background-color: #3b82f6;
  --button-hover-background-color: #1e40af;
  --button-text-color: #bfdbfe;

  --add-button-background-color: #eff6ff;
  --add-button-hover-background-color: #3b82f6;
  --add-button-border-color: #3b82f6;

  --add-button-icon-color: #3b82f6;
  --add-button-icon-hover-color: white;

  --message-items-container-background-color: #ffffff;

  --profile-image-container-background-color: #60a5fa;
  --profile-image-background-color: #3b82f6;

  --error-message-background-color: #f87171;
  --error-message-text-color: #b91c1c;

  --background-color-transition: background-color 0.3s ease-in-out;
  --scale-transition: transform 0.3s ease-in-out;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background: var(--body-background);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.2rem;
  background-color: var(--wrapper-background-color);
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
select,
textarea {
  padding: 10px;
  border: 1px solid #1e293b;
  border-radius: 5px;
  font-size: 1.2rem;
}

textarea {
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.search-result {
  border-bottom: 1px solid #ccc;
}

button {
  flex-grow: 1;
  max-width: 160px;
  padding: 10px;
  border: 1px solid #1e293b;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--button-text-color);
  text-shadow: var(--text-shadow);
  background-color: var(--button-background-color);
  transition: var(--background-color-transition);
}

button:hover {
  text-decoration: underline;
  background-color: var(--button-hover-background-color);
  transition: var(--scale-transition);
}

button:active {
  transform: scale(0.95);
}

.add-button {
  padding: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background-color: var(--body-background-color);
  border: 3px solid var(--add-button-border-color);
}

.add-button:hover {
  background-color: var(--add-button-hover-background-color);
}

.add-button:active {
  transform: scale(0.95);
}

.add-button-icon {
  color: var(--add-button-icon-color);
  fill: currentColor;
}

.add-button:hover .add-button-icon {
  color: var(--add-button-icon-hover-color);
}

#error-message-box {
  display: none;
}

.error-message {
  background-color: var(--error-message-background-color);
  color: var(--error-message-text-color);
  padding: 10px;
  border-radius: 5px;
}

.navigation-tree {
  padding: 10px;
  padding-left: 20px;
}
