{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2 class="delete-form-title">
      Haluatko varmasti poistaa alueen <i>{{ subforum[0].name }}</i>?
    </h2>
    <ul class="form-items">
      <li class="form-item">
        <a href="/"><button type="button" class="form-button">En</button></a>
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Kyllä</button>
      </li>
    </ul>
  </form>
</div>

{% endblock %}
