{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2>Haluatko varmasti poistaa ketjun?</h2>
    <ul class="form-items">
      <li class="form-item">
        <p>Ketju:</p>
      </li>
      <li class="form-item">
        <p>{{ thread[0].title }}</p>
      </li>
      <li class="form-item">
        <a href="{{return_url}}"
          ><button type="button" class="form-button">En</button></a
        >
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Kyllä</button>
      </li>
    </ul>
  </form>
</div>

{% endblock %}
