{% extends "layout.html" %} {% block content %}

<ul>
  {% for sub_forum in all_subforums %}
  <li>
    <h2><a href="/subforums/{{sub_forum.id}}">{{ sub_forum.name }}</a></h2>
    <p>{{ sub_forum.description }}</p>
    <p>Ketjut: {{ sub_forum.threads }}</p>
    <p>Viestit: {{ sub_forum.messages }}</p>
    <p>Viimeisin viesti: {{ sub_forum.lastest_message }}</p>
  </li>
  {% if session.role == 1 %}
  <button>
    <a href="/subforums/{{sub_forum.id}}/delete">Poista alue</a>
  </button>
  {% endif %} {% endfor %}
</ul>
{% if session.role == 1 %}
<button>
  <a href="/subforums/new">Uusi alue</a>
</button>
{% endif %} {% endblock %}
