<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>Keskustelusovellus</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Keskustelusovellus</a></h1>
      {% if session.username %}
      <p>Olet kirjautunut nimellä <strong>{{ session.username }}</strong></p>
      <button><a href="/logout">Kirjaudu ulos</a></button>
      <form action="/result" method="GET">
        <ul>
          <li><label>Hae viestejä:</label></li>
          <li><input type="text" name="search-word" /></li>
          <li><button type="submit">Hae</button></li>
        </ul>
      </form>
      {% endif %}
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
