<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/header.css" />
    <title>Keskustelusovellus</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-content">
          <div class="header-title-container">
            <h1><a href="/">Keskustelusovellus</a></h1>
          </div>
          <nav>
            {% if session.username %}
            <ul class="nav-items">
              <li class="nav-item">
                <div>
                  Olet kirjautunut nimellä:
                  <strong>{{ session.username }}</strong>
                </div>
              </li>
            </ul>

            <form action="/result" method="GET" class="search-form">
              <ul class="search-form-items">
                <li class="nav-item search-box">
                  <button type="submit" class="search-button">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      class="search-icon"
                    >
                      <path
                        d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z"
                      />
                    </svg>
                  </button>
                  <input type="text" name="search-word" />
                </li>
                <li class="nav-item">
                  <a href="/logout" class="logout-link">Kirjaudu ulos</a>
                </li>
              </ul>
            </form>
            {% endif %}
          </nav>
        </div>
      </header>
      <main>
        <div class="main-content">{% block content %} {% endblock %}</div>
      </main>
    </div>
  </body>
</html>
