<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/header.css" />
    <link rel="stylesheet" href="/static/form.css" />
    <link rel="stylesheet" href="/static/content.css" />
    <link rel="stylesheet" href="/static/footer.css" />
    <title>Keskustelusovellus</title>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div class="header-content">
          <div class="header-title-container">
            <h1><a href="/">Keskustelusovellus</a></h1>
          </div>
          <nav>
            {% if session.username %}
            <ul class="nav-items">
              <li class="nav-item">
                <div>
                  Olet kirjautunut nimellä:
                  <strong>{{ session.username }}</strong>
                </div>
              </li>
            </ul>

            <form action="/result" method="GET" class="search-form">
              <ul class="search-form-items">
                <li class="nav-item search-box">
                  <button type="submit" class="search-button">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="search-icon"
                    >
                      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                      <path
                        d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
                      />
                    </svg>
                  </button>
                  <input type="text" name="search-word" />
                </li>
                <li class="nav-item">
                  <a href="/logout">Kirjaudu ulos</a>
                </li>
              </ul>
            </form>
            {% endif %}
          </nav>
        </div>
      </header>
      <main>
        <div class="main-content">
          {% if session.username %}
          <div class="navigation-tree">
            <a href="/"><strong>Koti</strong></a> {% if 'subforums' in
            request.path %} >>
            <a href="/subforums/{{ session.subforum_id }}"
              ><strong>{{session.subforum_name }}</strong></a
            >
            {% endif %} {% if 'threads' in request.path %} >>
            <a
              href="/subforums/{{ session.subforum_id }}/threads/{{ session.thread_id }}"
              ><strong>{{ session.thread_title }}</strong></a
            >
            {% endif %}
          </div>
          {% endif %} {% block content %} {% endblock %}
        </div>
      </main>
      <footer>
        <div class="footer-content">
          <div class="footer-text">Created By aarnif</div>
          <a href="https://github.com/aarnif" target="_blank" rel="noreferrer"
            ><svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="github-icon"
            >
              <path
                d="m0 0h24v24h-24z"
                opacity="0"
                transform="matrix(-1 0 0 -1 24 24)"
              />
              <path
                d="m12 1a10.89 10.89 0 0 0 -11 10.77 10.79 10.79 0 0 0 7.52 10.23c.55.1.75-.23.75-.52s0-.93 0-1.83c-3.06.65-3.71-1.44-3.71-1.44a2.86 2.86 0 0 0 -1.22-1.58c-1-.66.08-.65.08-.65a2.31 2.31 0 0 1 1.68 1.11 2.37 2.37 0 0 0 3.2.89 2.33 2.33 0 0 1 .7-1.44c-2.44-.27-5-1.19-5-5.32a4.15 4.15 0 0 1 1.11-2.91 3.78 3.78 0 0 1 .11-2.84s.93-.29 3 1.1a10.68 10.68 0 0 1 5.5 0c2.1-1.39 3-1.1 3-1.1a3.78 3.78 0 0 1 .11 2.84 4.15 4.15 0 0 1 1.17 2.89c0 4.14-2.58 5.05-5 5.32a2.5 2.5 0 0 1 .75 2v2.95s.2.63.75.52a10.8 10.8 0 0 0 7.5-10.22 10.89 10.89 0 0 0 -11-10.77"
              />
            </svg>
          </a>
        </div>
      </footer>
    </div>
  </body>
</html>
