{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="/login" method="POST" class="form">
    <h2>Kirjaudu sisään:</h2>
    <ul class="form-items">
      <li id="error-message-box" class="form-item">
        <p class="error-message">{{ message }}</p>
      </li>
      <li class="form-item">
        <label>Tunnus:</label>
      </li>
      <li class="form-item">
        <input type="text" name="username" value="{{username}}" />
      </li>
      <li class="form-item">
        <label>Salasana:</label>
      </li>
      <li class="form-item">
        <input type="password" name="password" value="{{password}}" />
      </li>
      <li class="form-item">
        <button id="log-in-button" class="form-button" type="submit">
          Kirjaudu
        </button>
      </li>
      <li class="form-item">
        <a href="/register">
          <button id="register-button" class="form-button" type="button">
            Luo tunnus
          </button></a
        >
      </li>
    </ul>
  </form>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}
