{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2>Luo uusi alue</h2>
    <ul class="form-items">
      <li id="error-message-box" class="form-item">
        <p class="error-message">{{ message }}</p>
      </li>
      <li class="form-item">
        <label>Nimi:</label>
      </li>
      <li class="form-item">
        <input type="text" name="name" />
      </li>
      <li class="form-item">
        <label>Salainen:</label>
      </li>
      <li class="form-item">
        <select name="is-secret" onchange="toggleDisplayUserList()">
          <option value="0">Ei</option>
          <option value="1">Kyllä</option>
        </select>
      </li>
      <li id="user-list" class="form-item" style="display: none">
        <ul>
          <li>
            <label>Pääsyoikeus:</label>
          </li>
          {% for user in basic_users %}
          <li>
            <input type="checkbox" name="users" value="{{ user.id }}" />
            {{ user.username }}
          </li>
          {% endfor %}
        </ul>
      </li>
      <li class="form-item">
        <label>Kuvaus:</label>
      </li>
      <li class="form-item">
        <textarea name="description" rows="8" cols="40"></textarea>
      </li>
      <li class="form-item">
        <a href="/">
          <button type="button" class="form-button">Peruuta</button></a
        >
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Luo Alue</button>
      </li>
    </ul>
  </form>
</div>

<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}
