{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2>Luo uusi ketju</h2>
    <ul class="form-items">
      <li id="error-message-box" class="form-item">
        <p class="error-message">{{ message }}</p>
      </li>
      <li class="form-item">
        <label>Otsikko:</label>
      </li>
      <li class="form-item">
        <input type="text" name="title" />
      </li>

      <li class="form-item">
        <label>Ensimmäinen viesti</label>
      </li>

      <li class="form-item">
        <textarea name="message-content" rows="8" cols="40"></textarea>
      </li>

      <li class="form-item">
        <a href="{{return_url}}">
          <button type="button" class="form-button">Peruuta</button></a
        >
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Luo Ketju</button>
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
      </li>
    </ul>
  </form>
</div>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}
