{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2>Luo uusi ketju</h2>
    <ul class="form-items">
      <li class="form-item">
        <label>Otsikko:</label>
      </li>
      <li class="form-item">
        <input type="text" name="title" />
      </li>

      <li class="form-item">
        <label>Ensimmäinen viesti</label>
      </li>

      <li class="form-item">
        <textarea name="message-content" rows="8" cols="40"></textarea>
      </li>

      <li class="form-item">
        <button type="button" class="form-button">
          <a href="{{return_url}}">Peruuta</a>
        </button>
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Luo Ketju</button>
      </li>
      <li class="form-item">
        <p>{{ message }}</p>
      </li>
    </ul>
  </form>
</div>

{% endblock %}
