{% extends "layout.html" %} {% block content %}

<button><a href="/">Palaa Alkuun</a></button>

<h2>{{ subforum[0].name }}</h2>

<ul>
  {% for thread in subforum %}
  <li>
    <h3>
      <a href="/subforums/{{thread.sf_id}}/threads/{{thread.t_id}}"
        >{{ thread.title }}</a
      >
    </h3>
    <p>Viestit: {{ thread.messages }}</p>
    <p>Viimeisin viesti: {{ thread.latest_message }}</p>
  </li>
  {% if thread.t_creator_id == session.user_id %}
  <li>
    <button>
      <a href="/subforums/{{thread.sf_id}}/threads/{{thread.t_id}}/update"
        >Muokkaa ketjua</a
      >
    </button>
  </li>

  <li>
    <button>
      <a href="/subforums/{{thread.sf_id}}/threads/{{thread.t_id}}/delete"
        >Poista ketju</a
      >
    </button>
  </li>
  {% endif %} {% endfor %}
</ul>

<ul>
  <li>
    <button>
      <a href="/subforums/{{subforum[0].sf_id}}/threads/new">Uusi Ketju</a>
    </button>
  </li>
</ul>

{% endblock %}
