{% extends "layout.html" %} {% block content %}

<h2>{{ thread[0].title }}</h2>

<ul>
  {% for message in thread %}
  <li>
    <p>{{ message.username }}</p>
    <p>{{ message.content }}</p>
    <p>{{ message.created_at }}</p>
  </li>
  {% endfor %}
</ul>

<form action="{{request.url}}" method="POST">
  <ul>
    <li>
      <label>Viesti:</label>
      <textarea name="message-content" rows="8" cols="40"> </textarea>
    </li>
    <li>
      <button type="submit">Lähetä</button>
    </li>
  </ul>
</form>

{% endblock %}
