{% extends "layout.html" %} {% block content %}

<button><a href="{{return_url}}">Palaa Alueelle</a></button>

<h2>{{ thread[0].title }}</h2>

<ul>
  {% for message in thread %}
  <li>
    <p>{{ message.username }}</p>
    <p>{{ message.content }}</p>
    <p>{{ message.created_at }}</p>
    {% if message.created_at != message.updated_at %}
    <p>Päivitetty: {{ message.updated_at }}</p>
    {% endif %}
  </li>

  {% if message.username == session.username %}
  <li>
    <button>
      <a href="{{request.url}}/messages/{{message.m_id}}/update"
        >Muokkaa Viestiä</a
      >
    </button>
  </li>

  <li>
    <button>
      <a href="{{request.url}}/messages/{{message.m_id}}/delete"
        >Poista viesti</a
      >
    </button>
  </li>
  {% endif %} {% endfor %}
</ul>

<form action="{{request.url}}" method="POST">
  <ul>
    <li>
      <label>Viesti:</label>
    </li>
    <li>
      <textarea name="message-content" rows="8" cols="40"> </textarea>
    </li>
    <li>
      <button type="submit">Lähetä</button>
    </li>
  </ul>
</form>

{% endblock %}
