{% extends "layout.html" %} {% block content %}

<h2>Viesti:</h2>

<form action="{{request.url}}" method="POST">
  <ul>
    <li>
      <p>Lähetetty:</p>
    </li>
    <li>
      <p>{{ message.created_at }}</p>
    </li>

    {% if message.created_at != message.updated_at %}
    <li>
      <p>Päivitetty viimeksi:</p>
    </li>
    <li>
      <p>{{ message.updated_at }}</p>
    </li>
    {% endif %}

    <li>
      <label>Sisältö:</label>
    </li>

    <li>
      <textarea name="message-content" rows="8" cols="40">
{{ message.content }}</textarea
      >
    </li>
  </ul>

  <ul>
    <li>
      <button type="button"><a href="{{return_url}}">Takaisin</a></button>
    </li>
    <li>
      <button type="submit">Päivitä</button>
    </li>
  </ul>
</form>

{% endblock %}
