{% extends "layout.html" %} {% block content %}

<div class="form-container">
  <form action="{{request.url}}" method="POST" class="form">
    <h2>Viesti:</h2>
    <ul class="form-items">
      <li id="error-message-box" class="form-item">
        <p class="error-message">{{ message }}</p>
      </li>
      <li class="form-item">
        <p>Lähetetty: {{ message.created_at }}</p>
      </li>

      {% if message.created_at != message.updated_at %}
      <li class="form-item">
        <p>Päivitetty viimeksi: {{ message.updated_at }}</p>
      </li>
      {% endif %}

      <li class="form-item">
        <label>Sisältö:</label>
      </li>

      <li class="form-item">
        <textarea name="message-content" rows="8" cols="40">
{{ message.content }}</textarea
        >
      </li>

      <li class="form-item">
        <a href="{{return_url}}"
          ><button type="button" class="form-button">Takaisin</button></a
        >
      </li>
      <li class="form-item">
        <button type="submit" class="form-button">Päivitä</button>
        <input
          type="hidden"
          name="csrf_token"
          value="{{ session.csrf_token }}"
        />
      </li>
    </ul>
  </form>
</div>

{% endblock %}
